<app-section-heading
  [attr.aria-label]="'Side Projects section'"
  [heading]="'Side Projects'"
/>
<div
  class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3 print:grid-cols-3 print:gap-2"
>
  <article *ngFor="let project of projects">
    <div
      class="flex h-full flex-col overflow-hidden rounded-lg border p-3 md:min-h-44"
    >
      <div class="mb-2 flex flex-col space-y-1.5">
        <div class="space-y-1">
          <h1
            [attr.aria-label]="'Project name: ' + project.name"
            class="text-base font-medium tracking-tight"
          >
            <a
              class="inline-flex items-center gap-1 hover:underline"
              target="_blank"
              href="{{ project.href }}"
            >
              {{ project.name }}
            </a>
          </h1>
          <p
            [attr.aria-label]="'Project description: '"
            class="text-pretty font-mono text-xs text-foreground print:text-[10px]"
          >
            {{ project.description }}
          </p>
        </div>
      </div>
      <ul
        [attr.aria-label]="'Technologies used'"
        class="mt-auto flex list-none flex-wrap gap-1 text-sm font-semibold text-foreground"
      >
        <li
          class="text-nowrap rounded-md border border-transparent bg-neutral-200 px-1 py-0 text-center text-[11px]"
          *ngFor="let stack of project.stacks"
        >
          {{ stack }}
        </li>
      </ul>
    </div>
  </article>
</div>
