<app-section-heading
  [props]="{
    text: 'Side Projects',
    ariaLabel: 'Side Projects section',
    border: true,
    size: 'text-xl',
  }"
/>
<div
  class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3 print:grid-cols-3 print:gap-2"
>
  <article *ngFor="let data of projects">
    <div
      class="flex h-full flex-col overflow-hidden rounded-lg border p-3 md:min-h-44"
    >
      <div class="mb-2 flex flex-col space-y-1.5">
        <div class="space-y-1">
          <app-navigation-link
            [props]="{
              text: data.name,
              ariaLabel: data.name,
              url: data.url,
              bold: true,
            }"
          />
          <app-text-element
            [props]="{
              text: data.description,
              ariaLabel: data.description,
              type: 'paragraph',
              width: 'w-full',
              size: 'text-sm',
            }"
          />
        </div>
      </div>
      <ul
        [attr.aria-label]="'Technologies used'"
        class="mt-auto flex flex-wrap gap-1"
      >
        <app-text-element
          *ngFor="let stack of data.stacks"
          [props]="{
            text: stack,
            ariaLabel: stack,
            type: 'list',
            width: 'w-full',
            size: 'text-xs',
            bold: true,
            background: true,
            padding: 'px-1 py-0',
          }"
        />
      </ul>
    </div>
  </article>
</div>
