<section class="flex-1 space-y-1.5">
  <!-- #region title-->
  <h1 [attr.aria-label]="'Title: ' + title" class="text-2xl font-bold">
    {{ title }}
  </h1>
  <!-- #endregion -->
  <!-- #region description-->
  <p
    [attr.aria-label]="'Description: ' + description"
    class="max-w-md text-pretty font-mono text-sm text-foreground/80 print:text-[12px]"
  >
    {{ description }}
  </p>
  <!-- #endregion -->
  <!-- #region location-->
  <p class="text-pretty font-mono text-xs">
    <app-navigation-link
      *ngFor="let item of location"
      [attr.aria-label]="'Location: ' + item.name"
      [value]="item.name"
      [href]="item.url"
    />
  </p>
  <!-- #endregion -->
  <!-- #region contact links -->
  <nav aria-label="Contact links">
    <ul
      class="flex gap-x-1 text-sm text-foreground/80 sm:justify-start print:hidden"
    >
      <li *ngFor="let contact of contactLinks">
        <a
          [attr.aria-label]="contact.name"
          [href]="contact.url"
          target="_blank"
          class="focus-visible:ring-ring border-input inline-flex size-8 items-center justify-center whitespace-nowrap rounded-md border bg-background text-base font-medium ring-offset-background transition-colors hover:bg-neutral-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
        >
          <i class="{{ contact.icon }}"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- #endregion -->
</section>
<div
  class="relative flex size-28 h-full shrink-0 justify-self-end overflow-hidden rounded-xl"
>
  <!-- #region profile picture-->
  <img
    class="aspect-square h-full w-full object-cover"
    src="./profile-picture.jpeg"
    alt="Wilson Souto's profile picture"
  />
  <!-- #endregion -->
</div>
