<!-- #region left content-->
<section
  *ngFor="let data of header"
  class="grid grid-cols-1 space-y-1.5 print:text-center"
>
  <app-section-heading
    [props]="{
      text: data.name,
      ariaLabel: 'Name:' + data.name,
      size: 'text-3xl',
      divider: false,
    }"
  />
  <app-text-element
    class="print:hidden"
    [props]="{
      text: data.description,
      ariaLabel: 'description:' + data.description,
      type: 'paragraph',
      size: 'text-base',
      width: 'max-w-md',
    }"
  />
  <app-navigation-link
    [props]="{
      text: data.location.place,
      ariaLabel: 'Location:' + data.location.place,
      url: data.location.url,
    }"
  />
  <nav aria-label="Contact links">
    <ul class="flex gap-x-1 text-foreground/80 sm:justify-start print:hidden">
      <ng-container *ngFor="let item of data.contact">
        <li *ngIf="item.screen">
          <ng-container [ngSwitch]="item.type">
            <button
              *ngSwitchCase="'button'"
              [attr.aria-label]="item.label"
              (click)="printWindow(item)"
              class="focus-visible:ring-ring border-input inline-flex size-8 items-center justify-center whitespace-nowrap rounded-md border text-base font-medium ring-offset-background transition-colors hover:bg-neutral-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
            >
              <i class="{{ item.icon }}"></i>
            </button>
            <li *ngSwitchCase="'list'">
              <a
                [attr.aria-label]="item.label"
                [href]="item.url"
                target="_blank"
                class="focus-visible:ring-ring border-input inline-flex size-8 items-center justify-center whitespace-nowrap rounded-md border bg-background text-base font-medium ring-offset-background transition-colors hover:bg-neutral-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
              >
                <i class="{{ item.icon }}"></i>
              </a>
            </li>
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </nav>
</section>
<!-- #endregion -->
<!-- #region right content-->
<div
  *ngFor="let data of header"
  class="screen:rounded-xl screen:overflow-hidden relative flex size-28 h-full shrink-0 items-start print:size-full print:w-full print:items-center print:justify-center print:rounded-none"
>
  <img
    class="screen:block aspect-square h-full w-full object-cover print:hidden"
    src="{{ data.image }}"
    alt="Profile picture"
  />
  <ng-container *ngFor="let item of data.contact; let i = index">
    <ul
      *ngIf="item.print"
      class="screen:hidden mr-4 flex items-center justify-center text-pretty text-center text-base"
    >
      <li class="flex flex-row items-center gap-x-1">
        <i class="{{ item.icon }}"></i>
        <app-navigation-link
          [props]="{
            text: item.label,
            ariaLabel: item.label,
            url: item.url,
          }"
        />
      </li>
    </ul>
  </ng-container>
</div>
<!-- #endregion -->
