@tailwind base;
@tailwind components;
@tailwind utilities;

/* To change the pallete tone, you can access: https://palette.tone-row.com/  */

:root {
  --color-background: #fafafa;
  --color-foreground: #112233;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #eef1f4;
  --color-neutral-200: #d9dfe4;
  --color-neutral-300: #c2cad3;
  --color-neutral-400: #8e99a3;
  --color-neutral-500: #5e6a76;
  --color-neutral-600: #3e4c5a;
  --color-neutral-700: #2a3949;
  --color-neutral-800: #112233;
  --color-neutral-900: #09192a;
  --color-accent: #f9c784;
  --color-accent-50: #fef8ed;
  --color-accent-100: #fff1d8;
  --color-accent-200: #fddfb2;
  --color-accent-300: #f9c784;
  --color-accent-400: #f4a049;
  --color-accent-500: #f28219;
  --color-accent-600: #e26700;
  --color-accent-700: #bb4e00;
  --color-accent-800: #963b00;
  --color-accent-900: #7a3000;
}
