<app-section-heading
  [props]="{
    text: 'Education',
    ariaLabel: 'Education section',
    border: true,
    size: 'text-xl',
  }"
/>
<article
  *ngFor="let data of education"
  class="flex w-full flex-col gap-2 leading-none sm:gap-1"
>
  <header class="grid grid-cols-[1fr_auto] place-items-baseline">
    <!-- #region degree -->
    <div class="inline-flex gap-x-1 leading-none">
      <app-section-heading
        [props]="{
          text: data.degree,
          ariaLabel: 'Degree:' + data.degree,
          border: false,
          size: 'text-base',
        }"
      />
    </div>
    <app-text-element
      [props]="{
        text: data.startDate + ' - ' + data.endDate,
        ariaLabel: 'Date: ' + data.startDate + ' – ' + data.endDate,
        type: 'paragraph',
        width: 'w-full',
        size: 'text-sm',
      }"
    />
  </header>
  <!-- #region institution-->
  <app-navigation-link
    [props]="{
      text: data.institution.name,
      ariaLabel: 'Institution name:' + data.institution.name,
      url: data.institution.url,
    }"
  />
  <!-- #endregion -->
</article>
