<app-section-heading
  [props]="{
    text: 'Skills',
    ariaLabel: 'Skills section',
    size: 'text-xl',
    divider: true,
    color: true,
  }"
/>
<nav>
  <ul class="space-y-1.5 screen:block print:hidden">
    <ng-container *ngFor="let skill of skills; let i = index">
      <button
        [ngClass]="skill.isVisible ? 'bg-neutral-600' : 'bg-neutral-700'"
        (click)="toggleVisibility(i)"
        class="flex w-full items-center justify-between rounded-md px-4 py-2 text-left text-background hover:bg-neutral-600"
      >
        <span [attr.aria-label]="skill.topic">{{ skill.topic }}</span>
        <i
          [ngClass]="skill.isVisible ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"
        ></i>
      </button>
      <ul *ngIf="skill.isVisible" class="ml-6 mt-2 space-y-1">
        <app-text-element
          *ngFor="let item of skill.stacks"
          [props]="{
            text: item,
            ariaLabel: item,
            type: 'list',
            size: 'text-base',
            bold: true,
          }"
        />
      </ul>
    </ng-container>
  </ul>
  <ul class="screen:hidden print:block">
    <ng-container *ngFor="let skill of skills">
      <app-text-element
        [props]="{
          text: skill.topic + ':',
          ariaLabel: skill.topic,
          type: 'list',
          size: 'text-base',
          bold: true,
        }"
      />
      <app-text-element
        [props]="{
          text: formatStacks(skill.stacks),
          ariaLabel: formatStacks(skill.stacks),
          type: 'list',
          size: 'text-base',
        }"
      />
    </ng-container>
  </ul>
</nav>
