<app-section-heading
  [props]="{
    text: 'Skills',
    ariaLabel: 'Skills section',
    border: true,
    size: 'text-xl',
  }"
/>
<nav>
  <ul class="space-y-2 print:hidden">
    <li *ngFor="let skill of skills; let i = index">
      <button
        [ngClass]="skill.isVisible ? 'bg-neutral-600' : 'bg-neutral-700'"
        (click)="toggleVisibility(i)"
        class="flex w-full items-center justify-between gap-x-2 rounded-md px-4 py-2 text-left text-background hover:bg-neutral-600"
      >
        <span [attr.aria-label]="skill.topic">{{ skill.topic }}</span>
        <i
          [ngClass]="skill.isVisible ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"
        ></i>
      </button>
      <ul *ngIf="skill.isVisible" class="ml-6 mt-2 space-y-1">
        <app-text-element
          *ngFor="let item of skill.stacks"
          [props]="{
            text: item,
            ariaLabel: item,
            type: 'list',
            size: 'text-base',
            bold: true,
          }"
        />
      </ul>
    </li>
  </ul>
  <div class="hidden flex-col print:flex" *ngFor="let skill of skills">
    <app-text-element
      [props]="{
        text: skill.topic,
        ariaLabel: skill.topic,
        type: 'paragraph',
        size: 'text-base',
        bold: true,
      }"
    />
    <app-text-element
      [props]="{
        text: formatStacks(skill.stacks),
        ariaLabel: formatStacks(skill.stacks),
        type: 'paragraph',
        size: 'text-base',
        bold: false,
      }"
    />
  </div>
</nav>
