<app-section-heading
  [props]="{
    text: 'Work Experience',
    ariaLabel: 'Work Experience section',
    border: true,
    size: 'text-xl',
  }"
/>
<article *ngFor="let data of experience">
  <header class="mb-4 flex items-center justify-between">
    <div class="flex w-full flex-col gap-1 leading-none">
      <div class="item-center flex w-full justify-between">
        <app-section-heading
          [props]="{
            text: data.role,
            ariaLabel: 'Role:' + data.role,
            border: false,
            size: 'text-base',
          }"
        />
        <app-text-element
          [props]="{
            text: data.startDate + ' - ' + data.endDate,
            ariaLabel: 'Date: ' + data.startDate + ' – ' + data.endDate,
            type: 'paragraph',
            width: 'w-full',
            size: 'text-sm',
          }"
        />
      </div>
      <app-navigation-link
        [props]="{
          text: data.company.name,
          ariaLabel: 'Company name:' + data.company.name,
          url: data.company.url,
        }"
      />
    </div>
  </header>
  <ul
    class="list-inside list-disc text-pretty text-xs text-neutral-800/80 print:mt-1 print:text-[10px]"
  >
    <app-text-element
      *ngFor="let responsability of data.responsabilities"
      [props]="{
        text: responsability,
        ariaLabel: 'Responsability: ' + responsability,
        type: 'list',
        width: 'w-full',
        size: 'text-sm',
      }"
    />
  </ul>
  <ul
    [attr.aria-label]="'Tech stacks'"
    class="mt-2 flex list-none flex-wrap gap-x-1 gap-y-1 p-0 text-center text-xs font-semibold text-foreground print:hidden"
  >
    <li
      *ngFor="let stack of data.stacks"
      class="flex-grow rounded border border-neutral-100 bg-neutral-200 px-2 py-1"
    >
      {{ stack }}
    </li>
  </ul>
</article>
