<app-section-heading
  [props]="{
    text: 'Work Experience',
    ariaLabel: 'Work Experience section',
    size: 'text-xl',
    divider: true,
  }"
/>
<ng-container *ngFor="let data of experience">
  <article
    class="space-y-1.5"
    [ngClass]="{
      'screen:hidden': !data.display.screen,
      'print:hidden': !data.display.print,
    }"
  >
    <header class="flex flex-col items-start">
      <div class="grid grid-cols-[1fr_auto] place-items-baseline gap-1 w-full">
        <app-section-heading
          [props]="{
            text: data.role,
            ariaLabel: 'Role:' + data.role,
            size: 'text-base',
            divider: false,
          }"
        />
        <app-text-element
          [props]="{
            text: data.startDate + ' - ' + data.endDate,
            ariaLabel: 'Date: ' + data.startDate + ' – ' + data.endDate,
            type: 'paragraph',
            size: 'text-sm',
          }"
        />
      </div>
      <app-navigation-link
        [props]="{
          text: data.company.name,
          ariaLabel: 'Company name:' + data.company.name,
          url: data.company.url,
        }"
      />
    </header>
    <ul class="list-inside list-disc">
      <app-text-element
        *ngFor="let responsability of data.responsabilities"
        [props]="{
          text: responsability,
          ariaLabel: 'Responsability: ' + responsability,
          type: 'list',
          size: 'text-sm',
        }"
      />
    </ul>
    <ul
      [attr.aria-label]="'Tech stacks'"
      class="flex flex-wrap gap-1 print:hidden"
    >
      <app-text-element
        *ngFor="let stack of data.stacks"
        class="flex-grow"
        [props]="{
          text: stack,
          ariaLabel: stack,
          type: 'list',
          width: 'w-full',
          size: 'text-xs',
          bold: true,
          background: true,
          padding: 'px-2 py-1',
        }"
      />
    </ul>
  </article>
</ng-container>
